@model CybersecurityAwarenessPortal.Models.UserProgressModel
@{
    ViewBag.Title = "Your Progress";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            font-size: 24px;
            color: blue;
            font-weight: 500;
            margin-bottom: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        .container-fluid {
            padding: 60px 50px;
            top: 150px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }

        img #internet {
            height: 120%;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            border-radius: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .slideanim {
            visibility: visible;
        }
    </style>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Attempts For Each Module"
	},
	axisY: {
		title: "Number of Attempts",
		gridThickness: 0
	},
	data: [{
		type: "bar",
		indexLabel: "{y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <div class="row">
            <div @*class="col-sm-8"*@>
                <h2> @Session["username"]'s Progress Menu </h2>

            </div>
            <div class="form-group">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>

            <div class="form-group">
                @Html.Label("Current Progress", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="progress">
                        @{
                            CybersecurityAwarenessPortal.Models.UserProgressModel upm = new CybersecurityAwarenessPortal.Models.UserProgressModel();
                            upm.percentage = (double)Session["perc"];
                            double percent = upm.percentage;
                        }
                        <div class="active progress-bar progress-bar-success" role="progressbar" style="width: @percent%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            @percent%
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10">
                    <a class="btn btn-danger" href="@Url.Action("Index","Home")">Home &raquo;</a>
                </div>
            </div>


        </div>
    </div>

</body>
