@{
    ViewBag.Title = "Password Reset";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            font-size: 24px;
            color: blue;
            font-weight: 500;
            margin-bottom: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        .container-fluid {
            padding: 60px 50px;
            top: 150px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }

        img #internet {
            height: 120%;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            border-radius: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .slideanim {
            visibility: visible;
        }

        p, li {
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <div class="row">
            <h2>Password Reset </h2>
            <ul>
                <li>
                    When passwords are forgotten, the ability to reset your password is very convenient, but if not utilized properly this can allow someone to easily take over your account.
                </li>
                <br />
                <li>
                    Some websites do not require any security questions to be answered, nor require any additional information besides account email address to initiate a password reset.
                </li>
                <br />

                <li>
                    So, usually when requests that password reset, an email sent to the email address on file with the information. So, you want to monitor these emails and contact the vendor directly, if you see these and you did not initiate them yourself. Remember, the spam and phishing rules from earlier.
                </li>

                <br />

                <li>
                    So, social networks are most common for this. If someone logs in from a weird location, maybe you go travelling overseas, you'll probably get an email from the social network saying, "Hey, was this you, who logged in at this date and time?" It'll say, "If not, click no. If yes, click yes." So, it's an extra check that they're putting in place to make sure that it is always you logging into the system.
                </li>

                <br />

                <li>
                    Keep in mind about those phishing emails. They could be pretending to be you, or pretending to be that social network in the hopes that you will go to the website, confirm some sort of information, and then exploit it later. So, you will want to monitor any sort of emails that you get saying that a password reset was initiated.
                </li>



            </ul><br />

            <img src="~/Images/PResetTips.PNG" style="width:450px;display:block; margin-left:auto; margin-right:auto;" class="img-responsive" /> <br />
            @*<h2>Cybersecurity Threats: </h2>
                <hr />
                <iframe width="560" height="315" src="http://www.youtube.com/embed/dVW1FNWSaTg" frameborder="0" allowfullscreen></iframe>*@
        </div>


        <div class="row" style="position:relative; top:30px;">
            <a class="btn btn-danger" href="@Url.Action("EmailProtectionView","EmailProtection")">Back &raquo;</a>
        </div>
    </div>

</body>
s