@{
    ViewBag.Title = "Public Wifi";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            font-size: 24px;
            color: blue;
            font-weight: 500;
            margin-bottom: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        .container-fluid {
            padding: 60px 50px;
            top: 150px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }

        img #internet {
            height: 120%;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            border-radius: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .slideanim {
            visibility: visible;
        }

        p, li {
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <div class="row">
            <h2>Public Wifi</h2>
            <ul>
                <li>
                    So, public Wi-Fi is a non-secure, or non-password protected network, that users can connect to for free. Typically, they're found in hotels, coffee shops, libraries and many other places. They're the way that you can get on the internet, so that you can surf the internet on your laptops or on your cellphones, without having to spend your data limits.
                </li>
                <br />
                <li>
                    So, what you need to do when it comes to these public Wi-Fis is not to assume that the network named "Library" is actually the wireless network for the public library. Lots of times, malicious actors will go and they'll set up a Wi-Fi hotspot at a library. They'll call it "The Public Library" or "The Hotel."
                </li>

                <br />
                <li>
                    These people are hoping that others will connect to these fake networks, then they'll send sensitive information over them because if you do that, they can intercept what's being sent. So, that is what they are hoping for. Something very important is to verify with the business owner, the name of their network, so you make sure that you are connecting to the proper one and you are not connecting to a malicious network.
                </li>

                <br />
                <li>
                    Public Wi-Fi, in general, is very insecure. So, you should treat every single public Wi-Fi connection as compromised or unsafe. What this means is that you should not utilize any sensitive websites when connected to them, this includes your banking and social networking, sites. The reason is all of that data can be intercepted by someone else on the network or can be a fake or malicious network, and now they've just stolen all of your passwords and all of the data that you've just entered in while connected.
                </li>

                <br />
                <li>
                    So, if you need to access any of these sensitive websites, utilize your cellphone and do not connect it to Wi-Fi. Then, it makes it much harder for someone to steal any information that you're sending over the internet, because you're not connected to that Wi-Fi anymore. You're just using your cellphone service.
                </li>

            </ul><br />

            <img src="~/Images/PublicWifiTips.PNG" style="width:450px;display:block; margin-left:auto; margin-right:auto;" class="img-responsive" /> <br />
            @*<h2>Cybersecurity Threats: </h2>
                <hr />
                <iframe width="560" height="315" src="http://www.youtube.com/embed/dVW1FNWSaTg" frameborder="0" allowfullscreen></iframe>*@
        </div>


        <div class="row" style="position:relative; top:30px;">
            <a class="btn btn-danger" href="@Url.Action("InternetProtectionView","InternetProtection")">Back &raquo;</a>
        </div>
    </div>

</body>
