@*@model CybersecurityAwarenessPortal.Models.ThreatsOverviewModel*@
@{
    ViewBag.Title = "Password Safety";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            font-size: 24px;
            color: blue;
            font-weight: 500;
            margin-bottom: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        .container-fluid {
            padding: 60px 50px;
            top: 150px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }

        img #internet {
            height: 120%;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            border-radius: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .slideanim {
            visibility: visible;
        }
    </style>
</head>
<body>
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <div class="row">
            <div @*class="col-sm-8"*@>
                <h2> Can These Answers Be Found On Your Facebook? </h2>
                <ul>
                    <li>
                        What city did you grow up in?
                    </li>
                    <li>
                        What is your dog’s name?
                    </li>
                    <li>
                        What high school did you attend?
                    </li>
                    <li>
                        What is your mother’s maiden name?
                    </li>
                </ul><br />
                <br />
            </div>

            <div @*class="col-sm-8"*@>
                <p>
                    The problem with doing this is because of security questions. Security questions exist on pretty much every website that requires a username and password.
                    So, for instance, does something like this look familiar? It asks you first to enter in your birthday, then it asks you for your security questions.
                    As you can see, these security questions are what somewhat in the genre of what were showed above. Typically, users are honest when filling out security questions.
                    Malicious parties can utilize social media to find out the answers to these questions, which allows them to reset your password.
                    <img src="~/Images/SQ1.PNG" style=" width:500px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" />
                </p>
            </div>

            <div @*class="col-sm-8"*@>
                <p>
                    These are things that friends know, that family members know, that anyone who's your social media connection can find out lots of the answers to these questions.
                    So, typically, users are very honest when it comes to security questions. Whenever it asks for their mother's maiden name, they put their mother's maiden name in that blank.
                    Whenever they ask for their pet's name, they put their pet's name in the blank. So, malicious parties can utilize your social media account to find the answers to these questions, which then allows them to reset your password.
                    <img src="~/Images/SQ2.PNG" style=" width:500px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" />
                </p>
            </div> <br />

            <h2> User And Poor Password Hygiene </h2>
            <ul>
                <li>
                    The other problem with passwords is not just security questions, but it's users and poor password hygiene
                    that they have in place or that they utilize. Typically, users practice risky behavior with respect to passwords.
                </li>
                <br />
                <li>
                    Users use the same password across all websites. Passwords now, very much so, can be a gateway into identity theft.
                    That's because everything that we do nowadays is on the internet.
                    Our bank is on the internet, our social media accounts are on the internet, email, and everything goes through there.
                </li>
                <br />
                <li>
                    Once people gain access to your passwords, they really can ruin your life by changing them, sending emails to people
                    and accessing accounts that you don't want them to.
                </li>
            </ul><br />
        </div>

        <div @*class="col-sm-8"*@>
            <p>
                What indicates poor password hygiene? First, people create passwords, typically, they might have to create a complicated password based off the requirements that a website or application requires.
                Because the password is kind of complicated, they have trouble remembering it. So, they take it and they write it down on a sticky note, and they slip it under their keyboard.
                Or they have an Excel document on their computer that they write all of their passwords in. They don't realize that if someone walks by their desk, they can see what your password is.
                Chances are, you've used that password elsewhere. You've used it on your email or social media accounts. If you're saving all of your passwords to your computer on an Excel document,
                then if someone gains access to your computer or steals your computer, they have access to all of your passwords as well.
                <img src="~/Images/PS1.PNG" style=" width:380px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" />
            </p>
        </div><br />

        <div @*class="col-sm-8"*@>
            <p>
                The other thing that people do is they freely share their password with friends, family members, colleagues. They don't see a problem with it.
                They're never going to use it in any sort of malicious way or take my information. You don't know that for sure.
                This is more common in places where people have to clock in and clock out of work every day. If they're running late for work,
                they call their friend at the office already and tell them the password. They say, "Can you clock me in?" Or if they have to leave early, they do the same thing.
                They tell their friend, "Here's my password. Can you clock me out at the end of the day?" So, now it looks like they were at work the entire time
                <img src="~/Images/PS2.PNG" style=" width:380px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" />
            </p>
        </div><br />

        <div @*class="col-sm-8"*@>
            <p>
                When it comes to passwords and password complexity, this is what users typically do. If it's an 8-character password, they put in "elephant."
                If it requires a number, they just toss a number on the end of their core password, which was "elephant." If you add a symbol, they put a number then an exclamation point on the end. Then, they capitalize the letter.
                So, if you notice, these passwords really aren't getting any more complicated. If I knew your password was "elephant," then I could go to a website,
                see what requirements it says are needed for a strong password on the site, then toss in a number if that's what's required, or a symbol. It makes it much easier to find out what your password is if you follow this sort of process.
                <img src="~/Images/PS3.PNG" style=" width:380px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" />
            </p>
        </div><br />

        <div @*class="col-sm-8"*@>
            <p>
                When it comes to changing your password every 90 days, because some people see this as a hassle, they don't understand why they have to do this, this is what they end up doing; they go and they just change the number and the symbol at the end.
                Then, they go to the next button on the keyboard. Then, the next button on the keyboard, because it helps them to remember their passwords. Once again, you have that core of your password that is never changing at all.
                One of the beneficial reasons to change these passwords every 90 days is because of the data breaches and how often they are currently occurring.
                <img src="~/Images/PS4.PNG" style=" width:380px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" />
            </p>
        </div><br />

        <div @*class="col-sm-8"*@>
            <p>
                Passwords are extracted from these data breaches, then your password could be utilized to compromise your business. So after your password is stolen it is very simple for people to try all of the alternative options of the password.
                So, for instance, if a data breach happened and the password that was stolen was "Elephant." Then, attacker would go to a website, maybe Facebook, maybe your email, and would look to see what requirements they have for making a password.
                For instance, if it as a website that said it requires 8 characters and a symbol, there's only 32 symbols on the keyboard. So, it would take a human 5 or so minutes to go ahead and crack that password by trying all of the different options.
                Computers can carry up these tasks in fractions of a second. Except, instead of trying one website, they're trying hundreds of websites all at the same time, trying that password that was just stolen and all of the different variations on that password; numbers, symbols, and so forth.
                So, it becomes very easy if one is compromised, to take over all of your accounts. Even though you think that your password is different, if you're just changing those numbers and symbols, it's not strong enough
                <img src="~/Images/PS5.PNG" style=" width:380px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" />
            </p>
        </div><br />

        <h2> Password Hygiene Checkup</h2>
        <ul>
            <li>
                A great resource to know about when it comes to data breaches and passwords that are out there, online and different accounts, is what I like to call a password hygiene checkup.
            </li>
            <br />
            <li>
                It currently checks over 210 website data breaches. Across those 210 websites, there's been 2.6 billion compromised usernames and passwords. One should run it every so often.
                You can actually sign up for notifications so if there's ever a new data breach and your account was part of it, they'll let you know.
            </li>
            <br />
            <li>
                Then, you can go and change the password and your security questions on that website. That's the other side of things. If a data breach happens, make sure to not just change your password,
                but change those security questions as well because those might have been compromised too.
            </li>
        </ul><br />

        <h2> Two Factor Authentication (2FA) </h2>
        <ul>
            <li>
                Another great resource to help protect you from data breaches and passwords being extracted is two-factor authentication. Sometimes it's called 2FA, which stands for twofactor authentication as well.
                As opposed to standard username and password practice, which is entering your username, enter in your password, then you press enter and it logs you into whatever system you attempted to log in.
            </li>
            <br />
            <li>
                Two-factor authentication utilizes two different elements, something that the user knows, which is your password, and then something that the user has.
                Typically, that's your mobile phone or what's called a hardware token. Used in combination, they provide enhanced security for data access.
            </li>
            <br />
            <li>
                The reason why is if you go and you log into your email. You'll enter your username, you'll enter your password, and then you'll hit enter.
                Once you do that, it's not going to log you in. It's going to ask you for an extra, one-time password. That one time password, you'll take your phone out your pocket, you'll look at the phone, and maybe it has sent you a text message.
                That text message contains the password that you have to enter in.
            </li>
            <br />

            <li>
                Or maybe you have opened up an application on your phone that will give you the password. So, then no one can break into your account unless they know your username, your password, and they have access to your cell phone.
                So, it adds a whole extra layer to protect your accounts from data breaches. Make sure to enable twofactor authentication everywhere that you see it's available. Lots of businesses are starting to now adopt two-factor authentication,
                but most personal websites, like email, social media, banking websites, are all moving to two-factor authentication, and most already have it implemented.
            </li>
        </ul>
        <img src="~/Images/2FA.PNG" style=" width:380px; display:block; margin-left:auto; margin-right:auto;" class="img-responsive" /><br />

        <h2> 2FA Solves The Problem Of </h2>
        <ul>
            <li>
                Data breach through weak or stolen passwords
            </li>
            <li>
                User-created passwords that are not random characters
            </li>
            <li>
                Re-use of passwords intended for access to company assets for private accounts
            </li>
            <li>
                Passwords containing user-specific data – e.g. name, date of birth
            </li>
        </ul> <br />

        <img src="~/Images/PasswordSafetyTips.PNG" style="width:380px;display:block; margin-left:auto; margin-right:auto;" class="img-responsive" /> <br />
        <h2>How To Create A Secure Password: </h2>
        <hr />
        <iframe width="560" height="315" src="http://www.youtube.com/embed/aEmF3Iylvr4 " frameborder="0" allowfullscreen></iframe>


        <div class="row" style="position:relative; top:30px;">
            <a class="btn btn-success">Take The Quiz &raquo;</a>
            <a class="btn btn-danger" href="@Url.Action("Index","Home")">Home &raquo;</a>
        </div>
    </div>

</body>
