
@{
    ViewBag.Title = "Modules";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
        }

        h2 {
            font-size: 24px;
            color: #303030;
            font-weight: 600;
            margin-bottom: 30px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        .container-fluid {
            padding: 60px 50px;
            top: 150px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }
        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }
               img #internet {
                    height: 120%;
                }
        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 15px !important;
            line-height: 1.42857143 !important;
            border-radius: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .slideanim {
            visibility: visible;
        }
    </style>
</head>
<body>

    <div id="portfolio" class="container-fluid text-center bg-grey">
        <a href="https://www.tangerine.ca/en/index.html"> <img src="~/Tangerine.png" style="width:200px;" /> </a>
        <h2>Modules</h2>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/ThreatsOverview.png" @*alt="Paris"*@ width="400" height="300">
                    <p><strong> Types Of Threats</strong></p>
                    <a class="btn btn-info" href="@Url.Action("ThreatsOverviewView","ThreatsOverview")">Learn Threats Overview &raquo;</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/PasswordSafety.png" alt="New York" width="400" height="300">
                    <p><strong>How To Secure Your Password</strong></p>
                    <a class="btn btn-info" href="@Url.Action("PasswordSafetyView","PasswordSafety")">Learn Password Safety &raquo;</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/InternetProtection.png" alt="New York" style="height:183px;" width="400" height="320" id="internet">
                    <p><strong>How To Secure Yourself In The Internet</strong></p>
                    <a class="btn btn-info" href="@Url.Action("InternetProtectionView","InternetProtection")">Learn Internet Protection &raquo;</a>
                </div>
            </div>
        </div>


        <div class="row text-center slideanim">

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="~/EmailProtection.png" alt="New York" width="400" height="300">
                    <p><strong>How To Secure Your Emails</strong></p>
                    <a class="btn btn-info" href="@Url.Action("EmailProtectionView","EmailProtection")">Learn Email Protection &raquo;</a>
                </div>
            </div>

        </div><br>
    </div>

</body>